.wrapperFooter {
    display: flex;
    justify-content: space-around;
}

.container {
    width: 80%;
    display: flex;
    padding: 10px 0 10px 0;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}