.logo {
    color: #fafafa;
    text-transform: capitalize;
    background: #211a08;
    padding: 5px 10px;
    font-weight: 700;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 15px;
}